@media (max-width:1400px) {
    .w-1140{
        width: 1140px;
    }
}

@media (max-width:1200px) {
    .w-1140{
        width: 960px;
    }
    .header-section .nav-menu .wrapper .navigation-menu .nav-list .nav-item .nav-link {
        margin: 0 6px;
    }
}

@media (max-width:992px) {
    .w-1140{
        width: 720px;

    }
} 

@media (max-width:768px) {
    .w-1140{
        width: 576px;
    }
}

@media (max-width:576px) {
    .w-1140{
        width: 100%;
        padding: 0 15px;
    }
}