.nav-row-top .item-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    

}

.item-row .icone{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.item-row a img{
    width: 40%;
}
.nav-row-top{
    display: none;
    position:sticky;
    top:0;
    z-index: 2;
}

@media (max-width:1400px) {
    .w-1140{
        width: 1140px;
        margin: 0 auto;
    }
}

@media (max-width:1200px) {
    .w-1140{
        width: 960px;
        margin: 0 auto;
    }
}
@media (max-width:992px) {

    .w-1140{
        width: 720px;
        margin: 0 auto;
    }
    .nav-row-top{
        display: block;
        background-color: black;
    }

    .header-section{
        display: none;
    }

    .home-for-you .wrapper .item {
        width: calc(50% - 23px);
    }
    .country-section .wrapper .w-50 {
        width: 100%;
        flex-grow: 1;
    }
    .home-section .wrapper .item-home {
        width: calc(50% - 23px);
        
    }
    .artical .wrapper .art-items {
        width: 50%;
       
    }
    .hero-section .main {
        padding-top: 100px;
    }
    .home-for-you {
        padding: 80px 0;
    }
    .country-section {
        padding: 80px 0;
    }
    .artical {
        padding: 80px 0 80px;
    }
    .main-prop .tp {
        padding-top: 80px;
        
    }
    .section-menu {
        margin-top: 80px;
    }
    .customer-review {
        padding: 80px 0 80px;
    }
    .logo-row .logo-com .wrapper .logo-item {
        padding-bottom: 80px;
       
    }
    .home-section {
        padding: 80px 0 80px;
    }
    .row {
        padding-top: 80px;
    }
    .main-prop .wrapper {
        flex-direction: column;
    }
    .main-prop .wrapper .item-1 {
        width: 100%;
    }
    .main-prop .wrapper .item-2 {
        width: 100%;
        
    }
    .footer-section .footer-row {
        padding: 25px 0;
    }
    .footer-section .wrapper {
        padding: 80px 0;
        gap: 35px;
    }
    .register-now-main {
        padding: 50px 0;
    }
    .main-wrapper {
        padding-bottom: 80px;
        display: none;
    }
    .main-wrapper .item-one {
        width: 50%;
        margin-top: 20px;
    }
    .row {
        padding-top: 165px;
        display: none;
    }
    .footer-section .wrapper .fo-coll {
        width: calc(20% - 21px);
    }
    .footer-section .wrapper .first-coll {
        width: 100%;
    }
   
}

@media (max-width:768px) {
    .w-1140{
        width: 540px;
        margin: 0 auto;
    }
    .artical .wrapper .art-items {
        width: 100%;
    }
    .section-menu .wrapper {
        flex-direction: column;
    }
    .section-menu .wrapper .imge {
        width: 100%;
        
    }
    .section-menu .wrapper .content {
        width: 100%;
        margin-top: 20px;
    }
    .section-menu .view .items-view h1 {
        font-size: 30px;
        line-height: 55px;
    }
    .section-menu .view .items-view p {
        font-size: 16px;
        line-height: 23px;
    }
    .section-menu .view .items-view {
        width: calc(50% - 15px);
        text-align: center;
        flex-grow: 1;
    }
    .register-now-main .register-now {
       
        flex-direction: column;
    }
    .home-section .wrapper .item-home {
        width: 100%;
    }
    .customer-review {
        flex-direction: column;
    }
    .customer-review .w-50 {
        width: 100%;
    }
    .footer-section .wrapper .first-coll {
        width: 100%;
    }
    .footer-section .wrapper .fo-coll {
        width: calc(50% - 21px);
    }
    .hero-section .main {
        padding-top: 30px;
    }
    .country-section .wrapper .w-50 .first .pro {
        position: absolute;
        top: 30px;
        left: 26px;
        z-index: 1;
    }
    .country-section .wrapper .w-50 .second-row .second .pro {
        top: 30px;
        left: 26px;
    }
    .country-section .heading {
        font-size: 36px;
        line-height: 45px;
    }
    .main-prop .wrapper .item-2 .wrapper div button {
        left: 23px;
    }
    .main-prop .wrapper .item-2 .content {
        position: absolute;
        top: 75%;
        left: 34px;
    }
}

@media (max-width:576px) {
    .w-1140{
        width: 100%;
        padding:0 15px;
    }
    .hero-section .main h1 {
        font-size: 24px;
        line-height: 30px;
    }
    .hero-section .main .sale .child-sale li {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .hero-section .main .main-input .input .tex {
        width: 100%;
        padding: 14px 0;
        padding-left: 17px;
        font-size: 11px;
    }
    .hero-section .main .main-input .input button {
        width: 40px;
        height: 40px;
        top: 2%;
        right: 5px;
    }
    .hero-section .main .main-input .input button i {
        font-size: 16px;
    }
    .hero-section {
        padding: 29px 0 45px;
       
    }
    .home-for-you {
        padding: 40px 0;
    }
    .home-for-you h1 {
        font-size: 24px;
        line-height: 25px;
    }
    .home-for-you .content {
        font-size: 14px;
        padding-bottom: 16px;
        line-height: 26.3px;
    }
    .home-for-you .wrapper .item {
        width: 100%;
    }
    .country-section .heading {
        font-size: 24px;
        line-height: 30px;
    }
    .country-section p {
        font-size: 14px;
        font-weight: 400;
        line-height: 26.3px;
    }
    .country-section .wrapper .w-50 .second-row .second {
        width: 100%;
        
    }
    .artical .heading-art {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        font-family: "Roboto", serif;
        line-height: 35px;
        
    }
    .main-prop .wrapper .item-1 .left-2 .part-1 {
        width: 100%;
        
    }
    .main-prop .wrapper .item-1 .left-2 .part-1 .co h1 {
        color: white;
        font-size: 26px;
    }
    .main-prop .wrapper .item-1 .left-2 .part-1 .co p {
        font-size: 17px;
    }
    .main-prop .wrapper .item-1 .left-2 .part-1 .co .se {
        font-size: 12px;
    }
    .main-prop .wrapper .item-2 .wrapper div button {
        padding: 12px;
        top: 35px;
        left: 20px;
        font-size: 12px;
    }
    .main-prop .wrapper .item-2 .wrapper .btn button {
        padding: 12px;
        top: 35px;
        left: 127.36px;
    }
    .main-prop .wrapper .item-2 .content h1 {
        font-size: 22px;
        padding-bottom: 8.19px;
        color: white;
    }
    .country-section .wrapper .w-50 .first .pro ul li:nth-child(2) {
        font-size: 14px;
        font-weight: 500;
    }
    .country-section .wrapper .w-50 .first .pro ul li {
        font-size: 17px;
       
    }
    .country-section .wrapper .w-50 .second-row .second .pro ul li:nth-child(2) {
        font-size: 17px;
    }
    .country-section .wrapper .w-50 .first .pro {
        top: 25px;
        left: 19px;
    }
    .country-section .wrapper .w-50 .second-row .second .pro {
        top: 25px;
        left: 19px;
    }
    .main-prop .tp {
        padding-top: 40px;
    }
    .main-prop .wrapper .item-2 .content {
        top: 80%;
        left: 19px;
    }
    .section-menu .wrapper {
        padding: 50px 0 79.5px;
    }
    .section-menu .wrapper .content h1 {
        font-size: 24px;
    }
    .section-menu .wrapper .content p {
        font-size: 12px;
    }
    .section-menu .wrapper .content button {
        font-size: 12px;
        line-height: 40px;
        
    }
    .main-prop .tp {
        
        font-size: 24px;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .main-prop .ctn-row {
        font-size: 14px;
        padding-bottom: 30px;
        line-height: 18.3px;
    }
    .section-menu .view .items-view {
        width: 100%;
    }
    .section-menu .view {
        padding-bottom: 80px;
    }
    .customer-review {
        padding: 40px 0 80px;
    }
    .customer-review .w-50 h1 {
        max-width: 428px;
        font-size: 24px;
        line-height: 30px;
    }
    .customer-review .w-50 p {
        max-width: 546px;
        font-size: 14px;
       
    }
    .logo-row .logo-com .wrapper .logo-item {
        padding-bottom: 40px;
    }
    .home-section h1 {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .home-section {
        padding: 40px 0 40px;
    }
    .register-now-main .register-now h1 {
        font-size: 24px;
        padding-bottom: 10px;
    }
    .register-now-main .register-now button {
        padding: 0px 19px;
        line-height: 41px;
        font-size: 14px;
    }
   
    .footer-section .footer-row {
        align-items: center;
        padding: 40px 0;
        flex-direction: column;
    }
    .footer-section .footer-row .logo {
        width: 50%;
        margin-bottom: 20px;
    }
    .footer-section .wrapper {
        padding: 40px 0;
    }
    .footer-section .wrapper .first-coll .top-heading {
        padding-bottom: 16px;
        font-size: 19px;
    }
    .footer-section .wrapper .first-coll .co-tex-row {
        padding-top: 25px;
    }
    .footer-section .wrapper .fo-coll h1 {
        font-size: 17px;
        line-height: 10px;
        padding-bottom: 10px;
    }
    .footer-section .wrapper .fo-coll ul li {
        font-size: 14px;
        line-height: 17.5px;
        padding: 8px 0;
    }
    .footer-section .wrapper .first-coll .top-co-wrapper .box button {
        padding: 7px 24px;
        font-size: 14px;
        line-height: 20.5px;

    }
       
       
    
    


}