* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header-section .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-section .wrapper .logo {
    width: 136px;
    height: 20px;
}
.header-section .wrapper .logo img {
    width: 100%;
    object-fit: cover;
}

.header-section .wrapper .naviation-section .nav-list {
    display: flex;
    align-items: center;
}
.header-section .wrapper .naviation-section .nav-list .nav-items {
    margin-left: 30px;
}
.header-section .wrapper .naviation-section .nav-list .nav-items:hover {
    color: red;
}
.header-section .wrapper .icone .ic-list {
    display: flex;
    align-items: center;
}
.header-section .wrapper .icone .ic-list .ic-items {
    margin-right: 20px;
}
.header-section .wrapper .icone .ic-list .ic-items:hover {
    transform: scale(1.5);
}
.hero-section {
    background-image: url(../img/pro-1/Mask\ group.jpg);
    background-size: cover;
    width: 100%;
    height: 631px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-section h1 {
    width: 438px;
    height: 655px;
}
.hero-section h1 img {
    width: 100%;
}
.hero-section h2 {
    font-size: 118px;
    font-weight: 700;
    width: 659px;
    color: #1b5381;
}

.hero-section button a {
    width: 250px;
    height: 56px;
    padding: 13px 14px;
    background-color: #1b5381;
    color: white;
    top: 385px;
    left: 724px;
    font-size: 24px;
    font-weight: 700;
}

.anounsement {
    width: 1320px;
    background-color: #1b5381;
    line-height: 71px;
    height: 71px;
    color: white;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 700;
}
.product-type .pro-heading {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: #1b5381;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pro-wrapper {
    display: flex;
    column-gap: 25px;
    flex-wrap: wrap;
}
.pro-wrapper .shop-men {
    width: calc(33.33% - 25px);
    height: auto;
    position: relative;
}
.pro-wrapper .shop-men img {
    width: 100%;
}
.pro-wrapper .shop-men button {
    width: 135px;
    height: 47px;
    padding: 14px 13px;
    font-size: 16px;
    font-weight: 700;
    background-color: #1b5381;
    color: white;
    position: absolute;
    top: 541px;
    left: 145px;
    border: 0;
}


/* ........................................pro-list-start................................ */
.pro-list .pr-heading {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: #1b5381;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.pro-list .pr-heading::before {
    content: "";
    width: 56px;
    height: 5px;
    background-color: #1b5381;
    position: absolute;
    top: 70px;
    left: 36%;
}
.pro-list .pr-heading::after {
    content: "";
    width: 56px;
    height: 5px;
    background-color: #1b5381;
    position: absolute;
    top: 70px;
    left: 60%;
}
/* ........................................pro-list-end................................ */
/* ............................................pro-wrapper-row-start............................ */


.pro-list .pro-wrapper-row .main-wrapper {
    display: flex;
    column-gap: 21px;
    flex-wrap: wrap;
    
}
.pro-list .pro-wrapper-row .main-wrapper .items {
    width: calc(25% - 21px);
    height: auto;
}

.pro-list .pro-wrapper-row .main-wrapper .items span img {
    width: 100%;
}

.pro-list .pro-wrapper-row .main-wrapper .items .content{
    font-size: 14px;
    font-weight: 700;
    color:#1B5381;;
    position: relative;
}
.pro-list .pro-wrapper-row .main-wrapper .items .content span{
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.pro-list .pro-wrapper-row .main-wrapper .items .content::before{
    content: "";
    width: 37px;
    height: 2px;
    background-color: black;
    position: absolute;
    top:7px ;
    left: 0; 
}
/* ............................................pro-wrapper-row-end............................ */

/* .................................shop-look-start.............................. */
.shop-look .shop-heading{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: #1b5381;
    padding-top: 40px;
    padding-bottom: 5px;
    position: relative;
}
.shop-look .shop-heading::before{
    content: "";
    width: 56px;
    height: 5px;
    background-color: #1b5381;
    position: absolute;
    top: 70px;
    left: 33%;
}
.shop-look .shop-heading::after{
    content: "";
    width: 56px;
    height: 5px;
    background-color: #1b5381;
    position: absolute;
    top: 70px;
    left: 63%;
}
.shop-look p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
    color: black;
}
.shop-look .wrapper{
    display: flex;
    column-gap: 26px;
    flex-wrap: wrap;
}
.shop-look .wrapper p{
    width:calc(50% - 26px);
    height: auto;
}
.shop-look .wrapper p img{
    width: 100%;
}
/* .................................shop-look-end.............................. */
/* ........................................content-section-start...................... */

.content-section{
    background-color: #D2D6D9;
    margin-bottom: 40px;
}
.content-section h1{
    font-size: 32px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 80px;
    text-align: center;
    
}
.content-section h1 span{
    display: block;
    padding: 20px 0;
}
.content-section p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 36px;
}
.content-section .content-row{
    display: flex;
    column-gap: 281px;
    justify-content: center;
   
}
.content-section .content-row .left,.content-section .content-row .right{
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding-bottom: 90px;
}
.content-section .content-row .right{
    font-size: 14px;
    font-weight: 700;
    position: relative;
    padding-bottom: 90px;
}
.content-section .content-row .left::before{
    content: "";
    position: absolute;
    width: 345px;
    height: 1px;
    background-color: black;
    top: 20px;
    left: -2px;;
}
.content-section .content-row .right::before{
    content: "";
    position: absolute;
    width: 84px;
    height: 1px;
    background-color: black;
    top: 20px;
    left: -2px;
}
/* ........................................content-section-end...................... */